h1,h2,h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

h1, h2 {
  letter-spacing: -0.01em;
  font-weight: bold;
}

h2,h3 {
  color: #2F3133;
}

h1 {
  font-size: 6.4rem;
  color: #FFFFFF;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.8rem;
}